@model IEnumerable<MainWebApplication.Models.Appointment>
<h3>
    Список записей
</h3>
<p>
    <a asp-action="Appointment">Записать пациента</a>
</p>
@foreach (var item in Model) {
         <div class="list-group">
  <a href="/Doctor/DetailsPatient/@item.Id" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">
          @Html.DisplayFor(modelItem => item.IndividualNumberPatient)
      </h5>
      <small class="text-muted">
          Запись на прием
      </small>
    </div>
    <p class="mb-1">
        Пациент: @Html.DisplayFor(modelItem => item.Patient.FirstName)
        @Html.DisplayFor(modelItem => item.Patient.LastName)
    </p>
    <small class="text-muted">
        @Html.DisplayFor(modelItem => item.Organization.Name)
    </small>
  </a>
</div>
}
