@model IEnumerable<MainWebApplication.Models.Patient>

<h3>
    Список пациентов
</h3>
<p>
    <a asp-action="RegisterPatient">Прикрепить нового</a>
</p>
@foreach(var item in Model)
{
    <div class="list-group">
  <a href="/Doctor/DetailsPatient/@item.Id" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">
          @Html.DisplayFor(modelItem => item.IndividualNumber)
      </h5>
      <small class="text-muted">
          Карточка пациента
      </small>
    </div>
    <p class="mb-1">
        @Html.DisplayFor(modelItem => item.FirstName)
        @Html.DisplayFor(modelItem => item.LastName)
    </p>
    <small class="text-muted">
        @Html.DisplayFor(modelItem => item.Organization.Name)
    </small>
  </a>
</div>
}
