@model IEnumerable<IdentityRole>
<p>Тут вы сможете давать пользователям определенные роли
</p>
<table class="table table-sm table-bordered table-bordered">
    <tr><th>Название</th><th>Редактирование</th></tr>
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td><a class="btn btn-sm btn-primary" asp-action="Update" asp-route-id="@role.Id">Добавить</a></td>
        </tr>
    }
</table>